body {
    text-align: center;
    background-color: black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h1, h2 {
    color: white;
}

p a {
    color: aquamarine;
    font-size: 16px;
}

p {
    color: gray;
    font-size: 21px;
}

.phone {
    padding-top: 20px;
}

h1 {
    font-weight: normal;
    font-size: 50px;

}

footer p {
    text-align: right;
}

h2 { 
    font-weight: 300;
    font-size: 42px;
}